#ifndef %% Parser Name %%Parser_Included
#define %% Parser Name %%Parser_Included

#include "%% Parser Name %%Scanner.h"
#include <queue>
%% Header Extras %%

namespace %% Parser Name %% {
    %% Parser Return %% parse(std::queue<Token>& q);
    %% Parser Return %% parse(std::queue<Token>&& q);
}

#endif
